@import 'leaflet/dist/leaflet.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove focus outline for Leaflet elements */
.leaflet-container :focus {
  outline: none; /* Disable the black box */
}
