html, body, #root {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

/* Remove focus outline for Leaflet elements */
.leaflet-container :focus {
    outline: none; /* Disable the black box */
}
