@import 'leaflet/dist/leaflet.css';

html, body, #root {
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

/* Remove focus outline for Leaflet elements */
.leaflet-container :focus {
  outline: none; /* Disable the black box */
}
